# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**temp**

# Python
__pycache__/
.env
.venv/
raw_data/temp/
raw_data/screenshots/
raw_data/screenshots_pos/
raw_data/debug/
raw_data/icons_pos_split/
raw_data/icons_final/
raw_data/icons_pos_final/